.product-add-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.product-add-wrapper button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.product-add-counter-wrapper {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--light-grayish);
    /* padding: 1rem 0; */
}



.product-quantity {
    font-weight: 700;
}

.product-set-quantity-btn {
    background: none;
    border: 1px solid red;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
}