.product-wrapper {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 5rem;
    margin: 10rem auto;
    width: 80%;

}

.product-wrapper>* {
    width: 100%;
}



.product-info-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.company-name {
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--primary);
    letter-spacing: 0.8px;
}

.product-name {
    font-weight: 700;
    font-size: 3.5rem;
}

.product-desc {
    color: var(--dark-grayish);
    font-size: 1.2rem;
    line-height: 1.5;
}

.product-price-wrapper {
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    max-width: 150px;
}

.product-final-price {
    font-weight: 700;
    font-size: 1.6rem;
}

.product-discount {
    font-weight: 700;
    color: var(--primary);
    background-color: var(--primary-pale);
    border-radius: 6px;
    padding: 3px 5px;
}

.product-original-price {
    margin-top: 10px;
    color: var(--grayish)
}