.product-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-wrapper {
    /* margin-top: 5rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;

    width: 80%;

}

.product-wrapper>* {
    width: 100%;
}



.product-info-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.company-name {
    text-transform: uppercase;
    font-size: clamp(0.7rem, 1vw, 1rem);
    color: var(--primary);
    letter-spacing: 0.8px;
    font-weight: 700;
}

.product-name {
    font-weight: 700;
    font-size: clamp(2rem, 3vw, 3.5rem);

    margin-top: -.5rem;
}

.product-desc {
    color: var(--dark-grayish);
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    line-height: 1.5;
}

.product-price-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;


}

.product-final-price {
    font-size: clamp(1.4rem, 1.4vw, 1.6rem);
    font-weight: 700;
    font-size: 1.2rem;
}

.product-discount {
    font-weight: 700;
    color: var(--primary);
    background-color: var(--primary-pale);
    border-radius: 6px;
    padding: 3px 5px;
    margin-left: 1rem;
    font-size: 0.9rem;
}

.product-original-price {
    color: var(--grayish);
    flex-basis: 100%;
    margin-top: 5px;
    font-size: 0.9rem;
}

@media (max-width: 780px) {


    .product-wrapper {
        flex-direction: column;
        width: 100%;
        margin-top: 35px;
        gap: 0;
    }

    .product-info-column {
        padding-inline: 1.2rem;
    }

    .product-price-wrapper {
        width: 100%;
    }


    .product-original-price {
        margin-top: 0;
        flex-basis: unset;
        margin-left: auto;
    }

    /* margem provisória porque é produto único */
    .product-container {
        padding-bottom: 5rem;
    }
}