.cart-popup-item-container {
    display: grid;
    grid-template-columns: 45px 1fr 12px;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
}

.cart-popup-item-picture {
    border-radius: 6px;
}

.cart-popup-item-text {
    font-size: 0.8rem;
    color: var(--dark-grayish);
    margin-top: 3px;
}

.cart-popup-item-text.price {
    letter-spacing: 0.3px;
}

.cart-popup-item-text.price span {
    color: black;
    font-weight: 700;
    margin-left: 5px;
}

.cart-popup-item-remove-btn {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer
}

.cart-popup-item-remove-btn:hover {
    filter: brightness(0);
}