.primary-btn {
    width: 100%;
    background: var(--primary);
    padding: 0.8rem;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: clamp(0.8rem, 1vw, 1rem);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px;
}

.primary-btn img {
    filter: brightness(100)
}