*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

button,
input {
  font: inherit;
}

img {
  max-width: 100%;
}

body {
  min-height: 100vh;
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

/* FIm do reset */

:root {

  /* Primary colors */

  --primary: hsl(26, 100%, 55%);
  --primary-pale: hsl(25, 100%, 94%);
  /* Secondary */
  --very-dark: hsl(220, 13%, 13%);
  --dark-grayish: hsl(219, 9%, 45%);
  --grayish: hsl(220, 14%, 75%);
  --light-grayish: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
}


body {
  font-family: 'Kumbh Sans', sans-serif;
}

/* Usado no burger e no modal */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0, .7);
  z-index: 998;
}